.header{
	border-style: solid;
	padding: 10px;
}
#pro{
	float: right;
}
body{
	width: 60%;
	margin: 0 auto;
}
#table{
	border: solid;

}

/* FORMATIONS*/
.for{
	background-color: brown;
	font-family: serif;
	font-style: italic;
}

.comp{
background-color: brown;
	font-family: serif;
	font-style: italic;
}
